# translations we're done with google translate
# they may not be accurate
[Desktop Entry]
Name=beatmania IIDX INFINITAS
Type=Application
Categories=Game;Application;
Icon=infinitas
GenericName=Rhythm Game
GenericName[ja]=音ゲー
GenericName[ko]=음악 게임
Comment=Play beatmania IIDX INFINITAS on Linux
Comment[ja]=Linux で beatmania IIDX INFINITAS を起動する
Comment[ko]=Linux에서 beatmania IIDX INFINITAS를 플레이하세요
MimeType=x-scheme-handler/bm2dxinf;
Exec=infinitas "%u"
